@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #34384c;
  --background-secondary: #252734;
  --foreground: #ffffff;
  --foreground-secondary: #cbccd0;
  --accent-pink: #f3538c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
